<div class="container d-flex align-items-center justify-content-center" style="min-height: 50vh;">
    <div class="col-md-6">
        <form action='/api/sessions/register' method='POST'>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input  class="form-control" id='firstName' name='firstName' type='text' placeholder='firstName' />
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input class="form-control" id='lastName' name='lastName' type='text' placeholder='lastName' />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input class="form-control" id='age' name='age' type='text' placeholder='age' />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id='email' name='email' type='text' placeholder='email' />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id='password' name='password' type='password' placeholder='password' />
        </div>
        <div class="form-group">
            <label for="rol">Rol</label>
            <select class="form-control" id="rol" name="rol" required>
                <option value="">Selecciona un rol</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
            
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type='submit' value='registrar' />
        </div>             
   </form>
        <a  href='/'>login</a>
    </div>
</div>

